---
import Layout from "../layouts/Layout.astro";
import Introduccion from "../components/Introduccion.astro"
import Experiencia from "../components/Experiencia.astro"
import Proyectos from "../components/Proyectos.astro"
---

<Layout title="MichiqueliDev Portfolio">
  <main>
    <Introduccion/>
    <Experiencia/>
    <Proyectos/>
  </main>
</Layout>
