

<section id="experiencia" class="w-full lg:w-[740px] mx-auto py-28">
    <h1 class="text-4xl mb-4 font-semibold" >Experiencia</h1>
    <h1 class="text-2xl text-violet-200 mt-4 border-b-4 py-4">
      Ya hace más de 1 año que estoy fuertemente inmerso en el mundo de la programación.
      en el año 2023 cursé el Bootcamp de <span class=" text-yellow-200">Henry Academy</span> finalizando en enero de 2024 con el PF, donde me desenvolví como 
      <span class=" text-red-200">Back-End y Project Manager</span>
    </h1>
    <h1 class="text-2xl text-violet-200 mt-4 border-b-4 py-4">
      Además de esto realicé en 2023 y 2024 3 simulaciones laborales en <span class="text-lime-400">No-Country</span> donde participe del desarrollo de varias aplicaciones web, entre las que se desataca una aplicacion para solicitar auxilio mecánico a domicilio donde trabajamos con mapas y geolocalización en la mayoria me desenvolví como <span class=" text-red-200">Back-End</span> y como <span class=" text-red-200">Project Manager</span>
    </h1>
    <h1 class="text-2xl text-violet-200 mt-4 border-b-4 py-4">
      Por otra parte me encuentro desarrollando una aplicacion web de forma <span class=" text-red-200">Freelancer y Ad honorem</span> para el manejo de la parte administrativa de un club
      al que pertenezco de muy joven y del cual fui uno de los fundadores.
    </h1>
  </section>
