
<header class="flex justify-evenly items-center px-4 sm:px-44 py-5 w-full lg:w-[740px] mx-auto z-1000 fixed backdrop-blur-xl bg-opacity-10 bg-violet-400">
  <img
    class="rounded-full w-12 h-12"
    src="https://lh3.googleusercontent.com/a/ACg8ocKxfJkYkff01tqZMYwp187-uUmpaJERK7Rah_lj6zVR4UA=s288-c-no"
    alt="michiquelidev foto"
  />
  <nav class=" flex flex-row gap-x-10 opacity-80 space-x-min">
    <a href="/#up">Up</a>
    <a href="/#experiencia">Experiencia</a>
    <a href="/#proyectos">Proyectos</a>
  </nav>
</header>