<header class="flex justify-evenly items-center px-44 py-5 w-full mx-auto">
  <img
    class="rounded-full w-12 h-12"
    src="https://lh3.googleusercontent.com/a/ACg8ocKxfJkYkff01tqZMYwp187-uUmpaJERK7Rah_lj6zVR4UA=s288-c-no"
    alt="michiquelidev foto"
  />
  <nav class=" flex flex-row gap-x-10 opacity-80">
    <a href="/">Home</a>
    <a href="/#proyectos">Projects</a>
  </nav>
</header>